services:
    -
        class: \Tools\PHPStan\RegistryPropertyReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
parameters:
    level: 1
    paths:
        - ./upload/
    excludePaths:
        - ./upload/system/storage/vendor/
    tmpDir: .cache
    ignoreErrors:
        - '#^Constant [A-Z_]+ not found\.$#'
        - '#might not be defined\.#'
        - '#invoked with \d+ parameters?, \d+ required\.#'
