parameters:
    level: 0
    paths:
        - ./upload/
    excludePaths:
        - ./system/storage/vendor/
        - ./upload/system/storage/vendor/
        - ./upload/admin/controller/extension/payment/squareup.php
        - ./upload/catalog/controller/extension/module/ebay_listing.php
        - ./upload/catalog/controller/extension/payment/wechat_pay.php
        - ./upload/catalog/controller/extension/recurring/pp_express.php
        - ./upload/catalog/model/extension/payment/alipay.php
        - ./upload/catalog/model/extension/payment/alipay_cross.php
        - ./upload/catalog/model/extension/payment/divido.php
        - ./upload/catalog/model/extension/shipping/ec_ship.php
        - ./upload/system/config/admin.php
        - ./upload/system/engine/router.php
        - ./upload/system/framework.php
    tmpDir: .cache
    ignoreErrors:
